# Usa enlaces hoisted para node_modules (similar a npm)
node-linker=hoisted

# Obliga a respetar las versiones de Node y pnpm definidas en package.json
engine-strict=true

# Indica qué gestor de paquetes se recomienda (informativo)
package-manager=pnpm
