.carouselShadow {
  position: relative;
}

.carouselShadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 14px;
  height: 100%;
  background-color: #0a0a0a;
  box-shadow: 10px 0 20px 20px rgb(0, 0, 0);
  z-index: 10;
  pointer-events: none;
  margin-left: -10px;
}
.carouselShadow::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 14px;
  height: 100%;
  background-color: #0a0a0a;
  box-shadow: -10px 0 20px 20px rgb(0, 0, 0);
  z-index: 10;
  pointer-events: none;
  margin-right: -10px;
}
